---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/starwind/item";

interface BlogData {
  title: string;
  description: string;
  date: Date;
  icon: string;
  author: string;
}

interface Props extends HTMLAttributes<"a"> {
  data: BlogData;
}

const { data, class: className, ...props } = Astro.props as Props;
---

<Item
  variant="outline"
  as="a"
  class:list={["flex flex-col gap-2 items-start", className]}
  {...props}
>
  <div class="flex justify-between w-full">
    <ItemContent class="flex flex-col gap-1">
      <ItemTitle class="font-heading font-bold text-2xl">
        {data.title}
      </ItemTitle>
      <p class="flex gap-3 text-xs text-muted-foreground">
        <span class="flex gap-0.5">
          <Icon name="lucide:calendar" size={15} />
          {data.date.toLocaleDateString("en-IN", {
            year: "numeric",
            month: "short",
            day: "2-digit",
          })}
        </span>
        <span class="flex gap-0.5">
          <Icon name="lucide:user-pen" size={15} />
          {data.author}
        </span>
      </p>
    </ItemContent>
    <ItemMedia>
      <Icon name={data.icon} size={50} />
    </ItemMedia>
  </div>

  <ItemDescription>
    {data.description.length > 100 ? `${data.description.slice(0, 100)}...` : data.description}
  </ItemDescription>
</Item>
