---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import type { InfoData } from "@/lib/data-loaders/info";

type TechStack = InfoData["tech_stack"][string];

interface Props extends HTMLAttributes<"div"> {
  category: string;
  items: TechStack;
}

const { category, items, class: className, ...props } = Astro.props as Props;
---

<div
  class:list={[
        "relative flex flex-col justify-between gap-4 rounded-xl border bg-fd-card p-4",
        className,
    ]}
  {...props}
>
  <h3 class="font-bold">{category}</h3>
  <div class="flex flex-wrap justify-center gap-4">
    {items.map((tech) => <Icon name={tech.icon} size={20} />)}
  </div>
</div>
