---
import {
  type CollectionEntry,
  getCollection,
  type InferEntrySchema,
  render,
} from "astro:content";
import type { GetStaticPaths } from "astro";
import FrontmatterCard from "@/components/frontmatter-card.astro";
import NestedPagesList from "@/components/nested-pages-list.astro";
import Prose from "@/components/starwind/prose";
import BaseLayout from "@/layouts/base-layout.astro";

interface Props {
  project: CollectionEntry<"projects">;
  nestedPages?: {
    id: string;
    data: InferEntrySchema<"projects">;
  }[];
}

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => {
    const children = projects.filter((p) => {
      return p.id.startsWith(project.id.split("/")[0]);
    });

    return {
      params: { slug: project.id },
      props: {
        project,
        nestedPages: children.length > 1 ? children : undefined, // Only contains the sub-pages for a specific project
      },
    };
  });
}) satisfies GetStaticPaths;

const { project, nestedPages } = Astro.props as Props;
const { Content } = await render(project);
---

<BaseLayout
  title={`${project.data.title} - ARV`}
  description={project.data.description}
>
  <div
    class="flex flex-col flex-1 mx-auto md:max-w-3/5 items-center justify-center px-4 py-8"
  >
    <FrontmatterCard frontmatter={project.data} backPageUrl="/v2/projects" />
    {nestedPages && <div>
      <p class="text-bold text-2xl text-center my-4">Related Pages</p>
      <NestedPagesList
        pages={nestedPages}
        class="border rounded border-outline p-4"
      />
    </div>}

    <article class="mt-10 w-full md:max-w-11/12">
      <Prose class="max-w-auto w-full">
        <Content />
      </Prose>
    </article>
  </div>
</BaseLayout>
