---
import ProjectCard from "@/components/project-card.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import { loadProjectsData } from "@/lib/data-loaders/projects";

const { projects } = await loadProjectsData();
---

<BaseLayout
  title="Projects - ARV"
  description="See all the project created by ARV."
>
  <main class="flex-1 w-full md:w-2/3 mx-auto px-4 pb-8">
    <h1 class="font-bold font-heading text-3xl md:text-center mb-8">
      Projects
    </h1>
    <section>
      <div class="grid gap-3 md:grid-cols-2">
        {projects.map((project) => (
                <ProjectCard project={project} />
              ))}
      </div>
    </section>
  </main>
</BaseLayout>
