---
import "@/styles/global.css";
import type { HTMLAttributes } from "astro/types";
import { SEO } from "astro-seo";
import Navbar from "@/components/ui/navbar.astro";

interface Props extends HTMLAttributes<"body"> {
  title: string;
  description?: string;
  nav?: {
    sticky?: boolean;
  };
}

const {
  title = "ARV - Website",
  description = "Personal website of ARV built with Astro.",
  nav = {
    sticky: false,
  },
  class: className,
  ...props
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <SEO
      title={title}
      description={description}
      openGraph={{
          basic: {
            title: title,
            type: "website",
            // TODO: Use takumi or satori to create dynamic OG images for each route.
            image: "https://repository-images.githubusercontent.com/743063632/6f3af08f-216b-4ab6-a2a4-e8165efc15d7",
            url: Astro.url,
          },
          optional: {
            description: description,
          }
        }}
    />
  </head>
  <body class:list={["relative w-full", className]} {...props}>
    <Navbar sticky={nav.sticky} />
    <slot />
  </body>
</html>
